.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    background-color: #000000;
    color: white;
    }

    .navbar {
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 0 20px;
    }

    .navbar img {
        width: 90px;
        margin-right: 10px;
        margin-bottom: -18px; 
    }

    .navbar-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -18px; 

    }

    .navbar-btn {
        margin: 0 10px;
        padding: 8px 20px;
        background-color: #555;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .navbar-btn:hover {
        background-color: #777;
    }